@charset "utf-8";

/* 初期設定
------------------------------------------------------------- */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
  text-decoration: none;
}

section, article, aside, nav, header, main, footer {
  display: block;
}

/* ページの枠組み
------------------------------------------------------------- */
.main-wrapper {
  padding-top: 80px;
  background-color: #f3f3f3;
}

.contents {

}

.heading {
  text-align: center;
}

.heading h2 {
  font-size: 50px;
}

.content {
  margin: 0 auto;
  width: 80%;
  padding: 20px 0;
}

/* ヘッダー
------------------------------------------------------------- */
header {
  background: url(../images/top_image.jpg) center;
  height: 480px;
  background-size: cover;
}

h1 {
  margin: 0;
  color: white;
  font-size: 72px;
  text-align: center;
  line-height: 6;
}

.logo {

}

/* ナビゲーション
------------------------------------------------------------- */
.top-wrapper {
  background-color: #f3f3f3;
}

.navi {
  padding: 20px;
}

.navi ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.navi li {
  float: left;
  padding: 0 20px;
  font-weight: bold;
  font-size: 25px;
}

/* フッター
------------------------------------------------------------- */
footer {
  background-color: #333;
  color: white;
  height: 150px;

}

.footer-navi {
  padding-top: 20px;
}

.footer-navi ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.footer-navi li {
  float: left;
  padding: 0 20px;
}

.copyright {
  text-align: center;
  font-size: 12px;
  padding-top: 15px;
}
